In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np
import requests
import json
from api_keys import g_key
import gmaps
import glob

In [2]:
def raw_data_by_month(month):
    files = [i for i in glob.glob('../resources/twitterapi/{}*.{}'.format(month,'csv'))] 

    raw_df = pd.concat([pd.read_csv(f, parse_dates=['created_at']) for f in files ])  
    
    return raw_df

In [3]:
march_df = raw_data_by_month('03')
march_df = march_df.sort_values(by="created_at")
march_df

/Users/jameswhite/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3343: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,user_followers_count,user_friends_count,user_listed_count,user_location,user_name,user_screen_name.1,user_statuses_count,user_time_zone,user_urls,user_verified
72151,NaN,2020-03-01 12:00:00+00:00,NaN,https://twitter.com/goss_ie/status/12340859813...,https://bit.ly/2TatY7m,0,1234085981365600259,NaN,NaN,NaN,...,15301,2484,120,Ireland,Goss.ie,goss_ie,108545,NaN,http://www.goss.ie,True
72297,NaN,2020-03-01 12:00:00+00:00,Coronavirus pmi OPEC marketsnews,https://twitter.com/Marketsdotcom/status/12340...,http://live-trader.markets.com/trading-platfor...,0,1234085980602277888,NaN,NaN,NaN,...,7223,204,35,NaN,Markets,Marketsdotcom,2665,NaN,https://live-trader.markets.com/trading-platfo...,False
72193,NaN,2020-03-01 12:00:00+00:00,NaN,NaN,https://www.independent.co.uk/independentpremi...,0,1234085981113982976,NaN,NaN,NaN,...,412,3420,0,Ecuador,DH,dfh1977,15130,NaN,NaN,False
72295,NaN,2020-03-01 12:00:00+00:00,NaN,NaN,NaN,0,1234085978622582789,NaN,NaN,NaN,...,17127,10114,131,United States,Gbemisola,gbemy01,421374,NaN,http://www.gbemy01.com,False
72250,NaN,2020-03-01 12:00:00+00:00,coronavirus,https://twitter.com/ArabNewsjp/status/12340859...,https://arab.news/7nvsk,1,1234085979201396736,NaN,NaN,NaN,...,13408,60,168,NaN,Arab News Japan,ArabNewsjp,21764,NaN,http://arabnews.jp,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39023,NaN,2020-03-25 12:56:29+00:00,NaN,NaN,NaN,0,1242797504199974912,NaN,NaN,NaN,...,957,1698,103,NaN,BarbVee,barbvee,177133,NaN,NaN,False
39011,NaN,2020-03-25 12:56:29+00:00,COVID19,https://twitter.com/ANI/status/124276819432812...,NaN,0,1242797504304836611,NaN,NaN,NaN,...,34,555,0,"Odisha ,india",Dank Bishalüßêüòé,prasenjitmohap1,12629,NaN,NaN,False
39026,NaN,2020-03-25 12:56:30+00:00,NaN,NaN,NaN,0,1242797508134187011,NaN,NaN,NaN,...,595,420,5,"Bandung, Jawa Barat",munchmunchüç≠,munnycahyani,52283,NaN,NaN,False
39003,NaN,2020-03-25 12:56:30+00:00,NaN,NaN,NaN,0,1242797508134203392,NaN,NaN,NaN,...,1789,724,40,CKA Vancouver,Carrie Bercic,CarrieBercic,25685,NaN,NaN,False
39025,NaN,2020-03-25 12:56:30+00:00,NaN,NaN,NaN,0,1242797508218228741,NaN,NaN,NaN,...,1511,211,5,Colombia,Estrategia Unidos,Unidos_Col,6459,NaN,NaN,False

In [4]:
april_df = raw_data_by_month('04')
april_df = april_df.sort_values(by="created_at")
april_df

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,user_followers_count,user_friends_count,user_listed_count,user_location,user_name,user_screen_name.1,user_statuses_count,user_time_zone,user_urls,user_verified
36064,NaN,2020-04-01 12:00:00+00:00,NaN,NaN,NaN,0,1245320005165686792,NaN,NaN,NaN,...,514,720,7,NaN,Tonie Rosa,ClaireLaaffat,34420,NaN,NaN,False
36110,NaN,2020-04-01 12:00:00+00:00,Millionen Sars flucht fluchtgrund,https://twitter.com/earthlinkev/status/1245320...,http://www.fluchtgrund.de/2020/04/globale-vera...,0,1245320002980347905,NaN,NaN,NaN,...,455,368,50,M√ºnchen - Germany,earthlink e.V.,earthlinkev,10886,NaN,http://www.earthlink.de,False
36112,NaN,2020-04-01 12:00:00+00:00,NaN,NaN,https://www.tagesanzeiger.ch/eu-staaten-forder...,7,1245320004616273921,NaN,NaN,NaN,...,190621,1226,1109,Z√ºrich,tagesanzeiger,tagesanzeiger,96111,NaN,http://tagesanzeiger.ch,True
36122,NaN,2020-04-01 12:00:01+00:00,Corona,NaN,NaN,0,1245320006105280519,NaN,NaN,NaN,...,101,340,4,NaN,anonymmuslim,anonymmuslim,3677,NaN,NaN,False
36095,NaN,2020-04-01 12:00:03+00:00,Corona,NaN,NaN,0,1245320015928320000,NaN,NaN,NaN,...,30,173,1,,powl,powlomat,798,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37540,NaN,2020-04-25 12:55:34+00:00,NaN,NaN,NaN,0,1254031297086816256,NaN,NaN,NaN,...,78,134,0,Bekasi,INDONESIA MAJU (iyong pnj),iyongpananjung1,2553,NaN,NaN,False
37549,NaN,2020-04-25 12:55:34+00:00,NaN,NaN,NaN,0,1254031297116332032,zhangxin9261,1.253943e+18,9.783071e+17,...,569,1863,0,NaN,Ace12551,Ace12551,7494,NaN,NaN,False
37550,NaN,2020-04-25 12:55:34+00:00,covid19,NaN,NaN,0,1254031297296715778,NaN,NaN,NaN,...,381,180,1,"Furci Siculo, Sicilia",Fabio Raciti,Fabioraciti1,42452,NaN,NaN,False
37551,NaN,2020-04-25 12:55:34+00:00,NaN,NaN,https://www.matichon.co.th/covid19/thai-covid1...,0,1254031297191620608,NaN,NaN,NaN,...,220,578,7,‡∏ä‡∏¥‡∏õ‡∏ó‡∏µ‡πà‡πÉ‡∏à‡πÉ‡∏ä‡πà‡πÇ‡∏°‡πÄ‡∏°‡πâ‡∏ô ‡πÉ‡∏à‡∏•‡πâ‡∏ß‡∏ô‡πÜ,‡πÅ‡∏ú‡∏á‡∏ü‡∏±‡∏ô‡∏´‡∏ô‡πâ‡∏≤‡∏Ç‡∏≠‡∏á‡∏à‡πà‡∏≤‡∏™‡∏¥‡∏Å |||,NineZenith_JP,406412,NaN,NaN,False
37557,NaN,2020-04-25 12:55:34+00:00,NaN,https://twitter.com/RAMESHG43562581/status/125...,NaN,0,1254031296449245184,narendramodi,NaN,1.883978e+07,...,0,6,0,NaN,RAMESH G,RAMESHG43562581,23,NaN,NaN,False

In [5]:
may_df = raw_data_by_month('05')
may_df = may_df.sort_values(by="created_at")
may_df

/Users/jameswhite/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3343: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,user_followers_count,user_friends_count,user_listed_count,user_location,user_name,user_screen_name.1,user_statuses_count,user_time_zone,user_urls,user_verified
63,NaN,2020-05-01 12:07:06+00:00,covid19 covid19PT coronavirus portugal dgs,https://twitter.com/tvi24pt/status/12561934247...,NaN,2,1256193424736256001,NaN,NaN,NaN,...,267915,371,969,Portugal,tvi24,tvi24pt,333387,NaN,http://www.tvi24.iol.pt,True
53,NaN,2020-05-01 12:07:06+00:00,NaN,NaN,NaN,0,1256193427252711426,NaN,NaN,NaN,...,1549,2425,51,NaN,„Çå„ÇÇ„Çì„ÅÇ„Åò,lemontaste,29131,NaN,NaN,False
52,NaN,2020-05-01 12:07:06+00:00,Covid19,NaN,NaN,0,1256193427466711040,NaN,NaN,NaN,...,950,4938,6,"Xalisco, Nayarit",Pedro Arturo Rico Susarrey,ricosusarrey,67255,NaN,http://www.mulza.com,False
51,NaN,2020-05-01 12:07:06+00:00,NaN,NaN,NaN,0,1256193427651342336,NaN,NaN,NaN,...,905,759,11,"Washington, DC",Partnership for the Future of Learning,future4learning,1772,NaN,https://futureforlearning.org,False
50,NaN,2020-05-01 12:07:06+00:00,COVID19 nutrition,NaN,NaN,0,1256193427387056128,NaN,NaN,NaN,...,924,1154,1,NaN,AdejokeTheNutritionist,adejoke_adewusi,10972,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37960,NaN,2020-05-25 12:59:59+00:00,NaN,NaN,NaN,0,1264904042100162560,NaN,NaN,NaN,...,19,24,0,"Toronto, Ontario",chad !,msnsmms6,4229,NaN,NaN,False
37961,NaN,2020-05-25 12:59:59+00:00,NaN,NaN,NaN,0,1264904044914642949,NaN,NaN,NaN,...,79,672,4,NaN,Awesome,Deborah23670479,4503,NaN,NaN,False
37962,NaN,2020-05-25 12:59:59+00:00,NaN,NaN,NaN,0,1264904045342253057,NaN,NaN,NaN,...,787,925,23,Los Angeles,CanDoAnHour,TheSickness85,193413,NaN,http://statelyxanadu.tumblr.com/,False
37964,NaN,2020-05-25 12:59:59+00:00,NaN,NaN,https://conexaopolitica.com.br/brasil/covid-19...,0,1264904042251259905,NaN,NaN,NaN,...,164,40,1,NaN,AlexTuy,alextuy,47367,NaN,NaN,False
37990,NaN,2020-05-25 12:59:59+00:00,NaN,NaN,NaN,0,1264904045723914240,NaN,NaN,NaN,...,43,212,12,NaN,Desiography,desiography,5279,NaN,http://desiography.tumblr.com/,False

In [6]:
def filter_data(raw_df):
    filtered_data = raw_df[['id', 'created_at', 'place', 'favorite_count','retweet_count']]
    filtered_data = filtered_data[raw_df['place'].notna()]
    filtered_data = filtered_data.reset_index(drop=True)
    filtered_data.rename(columns={'created_at':'Date', 'id':'Tweet ID', 'place': 'Place', 'favorite_count':'Favorite Count','retweet_count':'Retweet Count'}, inplace=True)
    filtered_data['Date'] = filtered_data['Date'].dt.strftime('%Y-%m-%d')
    filtered_data["Lat"] = ""
    filtered_data["Lng"] = ""
    filtered_data["Country"] = ""
    return filtered_data

In [7]:
march_filter = filter_data(march_df)
march_filter

,Tweet ID,Date,Place,Favorite Count,Retweet Count,Lat,Lng,Country
0,1234086018376241152,2020-03-01,"Makkah Al Mukarrama, Kingdom of Saudi Arabia",1,0,,,
1,1234086036973740032,2020-03-01,"Bristol, England",0,0,,,
2,1234086156901453825,2020-03-01,"Walsall, England",0,0,,,
3,1234086179886202881,2020-03-01,"Bristol, England",0,0,,,
4,1234086214996762624,2020-03-01,"Central & Western District, Hong Kong",5,1,,,
...,...,...,...,...,...,...,...,...
2088,1242797462441558017,2020-03-25,"Dublin City, Ireland",0,0,,,
2089,1242797466354933764,2020-03-25,"Tupelo, MS",46,4,,,
2090,1242797490694283269,2020-03-25,"Ungaran, Indonesia",0,0,,,
2091,1242797495408824322,2020-03-25,"Kendall, FL",1,0,,,
2092,1242797499791835143,2020-03-25,"Bogot√°, D.C., Colombia",1,0,,,

In [8]:
april_filter = filter_data(april_df)
april_filter

,Tweet ID,Date,Place,Favorite Count,Retweet Count,Lat,Lng,Country
0,1245320603843858433,2020-04-01,"Hamburg, Germany",0,0,,,
1,1245320869930586112,2020-04-01,"Cannes, France",0,0,,,
2,1245321182062264322,2020-04-01,"Zell am Harmersbach, Deutschland",0,0,,,
3,1245321288425582593,2020-04-01,"Prague, Czech Republic",1,0,,,
4,1245322458921676801,2020-04-01,"Crediton, England",0,0,,,
...,...,...,...,...,...,...,...,...
2506,1254031217491673088,2020-04-25,"Lekki, Nigeria",2,1,,,
2507,1254031221140721664,2020-04-25,"Camden Town, London",1,0,,,
2508,1254031242565242880,2020-04-25,"Guelph, Ontario",4,0,,,
2509,1254031272558694405,2020-04-25,"Tallinn, Estonia",0,1,,,
2510,1254031280980717568,2020-04-25,"Santa Ana, CA",0,0,,,

In [9]:
may_filter = filter_data(may_df)
may_filter

,Tweet ID,Date,Place,Favorite Count,Retweet Count,Lat,Lng,Country
0,1256193425415852032,2020-05-01,"Kensington, London",4,10,,,
1,1256193436442476547,2020-05-01,"Kant≈ç, Chiba",0,0,,,
2,1256193465077108737,2020-05-01,"Banbury, England",1,0,,,
3,1256193469384712192,2020-05-01,"Lakeland Heights, TX",0,0,,,
4,1256193503115313152,2020-05-01,"Shimla, India",3,3,,,
...,...,...,...,...,...,...,...,...
2212,1264903991617617923,2020-05-25,"King's Lynn, England",1,0,,,
2213,1264904010894413824,2020-05-25,"Dindigul, India",0,0,,,
2214,1264904037045956609,2020-05-25,"Ilagan, Cagayan Valley",0,0,,,
2215,1264904045250121854,2020-05-25,"Rayachoti, India",1,0,,,
2216,1264904044205805569,2020-05-25,Robinson Memorial Methodist Marathi Central Ch...,3,0,,,

In [10]:
# create a params dict that will be updated with new city each iteration
params = {"key": g_key}
base_url = "https://maps.googleapis.com/maps/api/geocode/json"

In [11]:
# Loop through the cities_pd and run a lat/long search for each city
def append_geocode_country(geocode_df):
    for index, row in geocode_df.iterrows():
        address = row['Place']

        # update address key value
        params['address'] = f"{address}"

        # make request
#         cities = requests.get(base_url, params=params)
#         cities = cities.json()
        resp_data = requests.get(base_url, params=params).json()
       
    
        try: 
            geocode_df[index, "Lat"] = resp_data["results"][0]["geometry"]["location"]["lat"]
            geocode_df.loc[index, "Lng"] = resp_data["results"][0]["geometry"]["location"]["lng"]
        except:
           pass
        try:
            address_components = resp_data['results'][0]['address_components']
            for i in range(0, len(address_components)):
                if (address_components[i]['types'][0]) == "country":
                    geocode_df.loc[index, 'Country'] = address_components[i]['short_name']
        except:
            pass    
    geocode_df['Covid Cases'] = ""
    geocode_df = geocode_df.dropna()
    geocode_df['Lat'] = pd.to_numeric(geocode_df['Lat'])
    geocode_df['Lng'] = pd.to_numeric(geocode_df['Lng'])
    geocode_df['Retweet Count'] = geocode_df['Retweet Count'].astype(float)
    return geocode_df

In [ ]:
march_data = append_geocode_country(march_filter)
march_data

In [ ]:
april_data = append_geocode_country(april_filter)
april_data

In [ ]:
may_data = append_geocode_country(may_filter)
may_data

In [ ]:
# map func
info_box_template = ""
def draw_map(month_df):
    month_df['Lat'] = pd.to_numeric(month_df['Lat'])
    month_df['Lng'] = pd.to_numeric(month_df['Lng'])
    month_df = month_df[month_df['Lat'].notna()]
    month_df['Retweet Count'] = month_df['Retweet Count'].astype(float)
    month_df['Favorite Count'] = month_df['Favorite Count'].astype(float)
    loc_df = month_df[["Lat", "Lng"]]
    
    gmaps.configure(api_key = g_key)
    map_figure = gmaps.figure()

    layer = gmaps.heatmap_layer(loc_df, weights = month_df['Favorite Count'], max_intensity=100, dissipating = False, point_radius = 0.5, opacity = 0.3)
    

    fig = gmaps.figure()
    markers = gmaps.marker_layer(loc_df)
    fig.add_layer(markers)
    fig
    
    
    return map_figure

In [ ]:
draw_map(march_data)

In [ ]:
draw_map(april_data)

In [ ]:
draw_map(march_data)